<% include header %>
<div id="main"></div>
<script src="/lib/jquery.js"></script>
<script src="/lib/underscore.js"></script>
<script src="/lib/backbone.js"></script>
<script src="/models.js"></script>
<script src="/views.js"></script>
<script src="/router.js"></script>
<script>
    
    Backbone.history.start({ pushState: true });
</script>
<% include footer %>