<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title> Name </title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div id="main"></div>

    <script src="/lib/jquery.js"></script>
    <script src="/lib/moment.js"></script>
    <script src="/lib/underscore.js"></script>
    <script src="/lib/backbone.js"></script>
    <script src="/models.js"></script>
    <script src="/templates.js"></script>
    <script src="/views.js"></script>
    <script src="/router.js"></script>
    
    <script>
        var r = new App.Router({
            main: $('#main'),
            calendar: new App.Models.Calendar(<%- events %>)
        });
        Backbone.history.start({ pushState: true });
    </script>
</body>
</html>